@page "/providors"

<div class="container main-background">
    <div class="row">
        <div class="col">
            <div class="col my-3 border border-light rounded">
                <div class="row">
                    <div class="col main-background">Name Surname</div>
                    <div class="col">STAR</div>
                </div>
            </div>

            <div class="col my-3 border border-light rounded">
                <h3>Contact info</h3>
                <div class="row">
                    <div class="col">Name Surname</div>
                    <div class="col">STAR</div>
                </div>
            </div>

            <div class="col my-3 border border-light rounded">
                <h3>Tags</h3>
                <div class="row">
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="d-inline"><a href="#"><i class="fab fa-facebook-f">asd</i></a></li>
                            <li class="d-inline"><a href="#"><i class="fab fa-instagram">123</i></a></li>
                            <li class="d-inline"><a href="#"><i class="fab fa-yelp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            One of three columns
        </div>
    </div>
</div>


@code {

}
